/* SignUpScreen.css */

/* Center the form container both horizontally and vertically */
.sign-up-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f2f2f2;
  }
  
  /* Adjust the form to take up half of the container width */
  .sign-up-form {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);  
    padding: 30px;
    width: 50%; /* Set the form width to 50% of the container */
    max-width: 400px; /* Limit the form's maximum width to 400px */
    margin: 0 auto; /* Center the form horizontally */
  }
  
  /* Style for input fields and button remains the same */
  .sign-up-form input {
    margin-bottom: 25px;
    padding: 11px;
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 90%;
  }
  
  .sign-up-form input[type="text"],
  .sign-up-form input[type="password"],
  .sign-up-form input[type="email"] {
    box-sizing: border-box;
  }

  .label {
    margin-right: 280px;
    margin-bottom: 5px;
    font-size: 13px;
  }
  
  
  /* Wrapper for the input fields */
  .input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Add this line to adjust the vertical spacing between label and input */
  }
  
  
  .sign-up-form button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 50%;
    margin-right: 100px;
  }
  
  .sign-up-form button:hover {
    background-color: #0056b3;
  }
  
