.header {
    width: 100%;    
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: none;
    border: solid 0px pink; 
}
.mainImage {
    filter: brightness(50%); 
}
.main-container {
    width: 100%;
    border: solid 0px red;
}
.hideImg {
    display: flex;
    float: right;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 86%;
    left: 93%;
} 
.hideText {
    background: none;
    border: none;
    color: rgb(212, 212, 212);
    cursor: pointer;
    font-size: 13px;
}
.xText {
    display: inline-block;
    border: solid 1px;
    padding: 0 2px 0 2px;
    margin-right: 3px;
}

.title-main {
    color: white;
    font-weight: bold;
    font-size: 40px;
    border: solid 0px orange;
    position: absolute;     
    top: 47%;       
    left: 15%;      
}
.mainPhototext {
    padding: 20px 0px;
    text-align: left; 
}
