.loginScreen {
  width: 450px;
  height: 500px;
  background: #fffdfd;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 0.05px solid rgb(222, 218, 218);
  border-radius: 7px;
  padding: 50px;
  box-shadow: 0 5px 18px -7px rgba(147, 146, 146, 0.175);
}

.logo {
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
}

.LoginScreenBackground {
  background-color: #dfdfdf3b;
  width: 100vw;
  height: 100vh;
}

/*.loginScreen .loginTitle {   
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}*/

.loginScreen .inputContainer {
  position: absolute;
  top: 130px;
  width: 60%;
}

.loginScreen input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 30px;
  border: 0.3px solid #3c3c3c;
  border-radius: 3px;
}

.loginScreen input:focus {
  outline: none;
  border-bottom: 0.3px solid #000000;
}

.loginScreen button {
  background: #363CD7;
  padding: 10px 80px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  border: none;
  border-radius: 5px;
}

.loginScreen .buttonContainer {
  position: relative;
}

.loginScreen button:hover {
  color: #000000;
  background: #fff;
  border: 2px solid #000;
}

.loginScreen input::placeholder {
  text-align: left;
}

.loginScreen .loginButton {
  position: absolute;
  width: 350px;
  left: 50%;
  top: 70px;
  transform: translateX(-50%);
}

.loginScreen .signupButton {
  position: absolute;
  width: 350px;
  left: 50%;
  top: 130px;
  transform: translateX(-50%);
}

.loginScreen .findIdPwLink {     /*아이디/비밀번호 찾기*/
  position: absolute;
  left: 0px;
  top: 220px;
  transform: translateX(-50%);
  color: #352a2a;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.loginScreen .findIdPwLink:hover {
  color: #000000;
  text-decoration: underline;
}