.loginScreen {
  width: 300px;
  height: 400px;
  background: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 50px;
}

.loginScreen .inputContainer {
  position: absolute;
  top: 50px;
  width: 70%;
}

.loginScreen input {
  display: block;
  width: 100%;
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #000000;
}

.loginScreen input:focus {
  outline: none;
  border-bottom: 1px solid #000000;
}

.loginScreen button {
  background: #363CD7;
  padding: 10px 30px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.loginScreen .buttonContainer {
  position: relative;
  /* display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center; */
}

.loginScreen button:hover {
  color: #000000;
  background: #fff;
}

.loginScreen input::placeholder {
  text-align: center;
}

.loginScreen .loginButton {
  position: absolute;
  left: -50px;
  top: 0px;
}

.loginScreen .signupButton {
  position: absolute;
  left: 10px;
  top: 150px;
}

.loginScreen .findIdPwButton {
  position: absolute;
  left: -150px;
  top: -80px;
}