.loginScreen {
  width: 300px;
  height: 400px;
  background: #FFF;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  padding: 50px;
}

.loginScreen .loginTitle {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
}

.loginScreen .inputContainer {
  position: absolute;
  top: 50px;
  width: 60%;
}

.loginScreen input {
  display: block;
  width: 100%;
  margin-top: 60px;
  border: none;
  border-bottom: 1px solid #000000;
}

.loginScreen input:focus {
  outline: none;
  border-bottom: 1px solid #000000;
}

.loginScreen button {
  background: #363CD7;
  padding: 10px 50px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
}

.loginScreen .buttonContainer {
  position: relative;
}

.loginScreen button:hover {
  color: #000000;
  background: #fff;
}

.loginScreen input::placeholder {
  text-align: center;
}

.loginScreen .loginButton {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

.loginScreen .signupButton {
  position: absolute;
  left: 50%;
  top: 170px;
  transform: translateX(-50%);
}

.loginScreen .findIdPwLink {
  position: absolute;
  left: -100px;
  top: 110px;
  transform: translateX(-50%);
  color: #000000;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  white-space: nowrap;
}

.loginScreen .findIdPwLink:hover {
  color: #000000;
  text-decoration: underline;
}