body {
  background-color: #E5ECF3;
  margin: 0; /* 여백 제거 */

}

.searchIdScreenContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.searchIdScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: 'Inter', sans-serif;
  width: 500px;
  height: 250px;
  padding: 20px 30px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  transition: height 0.3s ease-in-out;

}

.searchIdScreen.expanded {
  height: 350px; 
  transition: height 0.3s ease; 
}

.searchIdScreen__header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.searchIdScreen__header h3 {
  position: relative;
  flex-basis: 50%; /* 50%의 너비를 가진 두 h3 태그 */
  text-align: center; /* 텍스트를 중앙 정렬 */
  color: #888;
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: none;  
  transition: border 0.2s, color 0.2s;
}

.searchIdScreen__header h3:after {
  content: "";
  position: absolute;
  bottom: 3px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #ddd;
  z-index: -1;
}

.searchIdScreen__header h3.active {
  border-bottom: 2px solid #0500FF;
  color: #0500FF;
}

/*.searchIdScreen__header h3.active:after {
  border-bottom: 2px solid #007bff;
}*/

.searchIdScreen__header h3:hover {
  background-color: #e9e9e9;
}

.emailSearch__input, .emailCodeVerification__input {
  width: 95%;
  padding: 10px;
  margin: 15px -15px;
  border: 1px solid #BEBEBE;
  border-radius:5px;
  box-shadow: 1px 1px 0px 2px #bebebe25, -1px -1px 5px 2px #bebebe6e;
}

.emailSearch__button {
  padding: 10px 25px;
  background-color: #0500FF;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

/* Email Search */
.emailSearch__note {
  font-size: 15px;
  color: #474747;
  margin-top: 20px;
  margin-left: -270px;
}

.emailCodeVerification__note {
  font-family: Inter;
  font-size: 15px;
  color: #474747; /* Gray color for the note */
  flex: 1;
  margin-left: -230px;
  margin-top: 10px;
}

.timerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.timeSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.timeSection p {
  margin-right: 10px; 
}





  