.bodyRightComponents{
    width: 70%;
    height: 100%;
    display: block;
    background: none;
    float: left;
    padding-top: 20px;
    border: solid 1px green;
}
.board-important {
    border: solid 1px  brown;
    height: 300px;
}
.importantBox {
    width: 64%;
    height: 200px;
    float: right;
    background-color: #EDF4F6;
    margin-right: 50px;
    border-radius: 5px;
}
.importantTitle {
    padding-left: 20px;
    padding-top: 30px;
    text-align: left;
    font-weight: bold;
}
.importantText {
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
}
h1 {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 20px;
}
.all-line {
    border-top: solid 2px black;
    margin-bottom: 10px;
    width: 100%;
    
}
.componentHeader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}
.postHeader{
    width: 100%;
    display: flex;
    float: left;
    margin: 10px 0 20px 0;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}
.rightPostHeader{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.title {
    margin-left: 30px;
    width: 70%;
    text-align: left;
}