.bodyLeftComponents {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid 0px blue;
}
.board-notice {
    border: solid 0px yellow;
}
.board-title {
    width: 70%;
    margin-bottom: 10px;
    color: black;
    margin-left: 10px;
    height: 40px;
    line-height: 40px;      
    cursor: pointer;
    border: solid 0px black;
    outline: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;  
    text-align: left;
}
.board-line {
    border-top: solid 1px rgb(148, 148, 148);
    margin-bottom: 10px;
    width: 80%;
}
.board-profile {
    width: 70%;
    margin-bottom: 10px;
    color: black;
    margin-left: 10px;
    height: 80px;
    line-height: 80px;      
    cursor: pointer;
    border: solid 0px black;
    outline: none;
    background: transparent;
    font-size: 18px;  
    text-align: left;
    font-weight: bold;
    display: flex;
}
.profileImage {
    width: 30%;
    height: 100%;
}
.profileName {
    margin-left: 20px;
    font-size: 20px;
}
.board-contents {
    width: 70%;
    margin-bottom: 10px;
    color: black;
    margin-left: 10px;
    height: 30px;
    line-height: 30px;      
    cursor: pointer;
    border: solid 0px black;
    outline: none;
    background: transparent;
    font-size: 18px;  
    text-align: left;
}

.board-list {
    border: solid 0px yellow;
    margin-top: 50px;
}
.service-center {
    border: solid 0px yellow;
    margin-top: 50px;
}