.navigationBar{
    width: 70%;    
    height: 66px;   
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px blue; 
}
.logo-container {
    display: flex;
    padding-left: 20px;
    width: auto;
    height: 50px;
    align-self: flex-start;
}
.special-menu {
    display: flex;
    width: 90%;     
    height: 66px;   
    padding-right: 20px;
    border: solid 2px purple;
}
.menu-list {
    border: solid 1px black;
}

.menu-item {
    margin-left: 10px;
    height: 66px;       
    cursor: pointer;
    border: solid 1px black;
    outline: none;
    background: transparent;
    font-size: 20px;    
}
.blankbox {
    width: 60%;
    height: 66px;
    line-height: 66px;
    border: solid 1px orange;
}
.login-button {
    font-weight: bold;
    margin-left: 10px;
    height: 66px;
    cursor: pointer;
    border: solid 1px black;
    outline: none;
    background: transparent;
}

.Register-button {
    font-weight: bold;
}

.menu-button {
    border: solid 1px yellow;
}